html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  min-height: 100%;
  min-width: 1140px; }

section {
  overflow: hidden;
  display: block; }

.row {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  overflow: hidden; }

[class*="col-"] {
  float: left;
  position: relative;
  padding: 0 10px; }
  [class*="col-"] > .row {
    margin-left: -10px;
    margin-right: -10px; }
  [class*="col-"].no-padding {
    padding: 0; }
    [class*="col-"].no-padding > .row {
      margin-left: 0;
      margin-right: 0; }

.col-1 {
  width: 8.33333%; }

.push-1 {
  margin-left: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.push-2 {
  margin-left: 16.66667%; }

.col-3 {
  width: 25%; }

.push-3 {
  margin-left: 25%; }

.col-4 {
  width: 33.33333%; }

.push-4 {
  margin-left: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.push-5 {
  margin-left: 41.66667%; }

.col-6 {
  width: 50%; }

.push-6 {
  margin-left: 50%; }

.col-7 {
  width: 58.33333%; }

.push-7 {
  margin-left: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.push-8 {
  margin-left: 66.66667%; }

.col-9 {
  width: 75%; }

.push-9 {
  margin-left: 75%; }

.col-10 {
  width: 83.33333%; }

.push-10 {
  margin-left: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.push-11 {
  margin-left: 91.66667%; }

.col-12 {
  width: 100%; }

.push-12 {
  margin-left: 100%; }

@media screen and (max-width: 1240px) {
  .u1240-col-1 {
    width: 8.33333%; }
  .u1240-push-1 {
    margin-left: 8.33333%; }
  .u1240-col-2 {
    width: 16.66667%; }
  .u1240-push-2 {
    margin-left: 16.66667%; }
  .u1240-col-3 {
    width: 25%; }
  .u1240-push-3 {
    margin-left: 25%; }
  .u1240-col-4 {
    width: 33.33333%; }
  .u1240-push-4 {
    margin-left: 33.33333%; }
  .u1240-col-5 {
    width: 41.66667%; }
  .u1240-push-5 {
    margin-left: 41.66667%; }
  .u1240-col-6 {
    width: 50%; }
  .u1240-push-6 {
    margin-left: 50%; }
  .u1240-col-7 {
    width: 58.33333%; }
  .u1240-push-7 {
    margin-left: 58.33333%; }
  .u1240-col-8 {
    width: 66.66667%; }
  .u1240-push-8 {
    margin-left: 66.66667%; }
  .u1240-col-9 {
    width: 75%; }
  .u1240-push-9 {
    margin-left: 75%; }
  .u1240-col-10 {
    width: 83.33333%; }
  .u1240-push-10 {
    margin-left: 83.33333%; }
  .u1240-col-11 {
    width: 91.66667%; }
  .u1240-push-11 {
    margin-left: 91.66667%; }
  .u1240-col-12 {
    width: 100%; }
  .u1240-push-12 {
    margin-left: 100%; } }
@media screen and (max-width: 1030px) {
  .u1030-col-1 {
    width: 8.33333%; }
  .u1030-push-1 {
    margin-left: 8.33333%; }
  .u1030-col-2 {
    width: 16.66667%; }
  .u1030-push-2 {
    margin-left: 16.66667%; }
  .u1030-col-3 {
    width: 25%; }
  .u1030-push-3 {
    margin-left: 25%; }
  .u1030-col-4 {
    width: 33.33333%; }
  .u1030-push-4 {
    margin-left: 33.33333%; }
  .u1030-col-5 {
    width: 41.66667%; }
  .u1030-push-5 {
    margin-left: 41.66667%; }
  .u1030-col-6 {
    width: 50%; }
  .u1030-push-6 {
    margin-left: 50%; }
  .u1030-col-7 {
    width: 58.33333%; }
  .u1030-push-7 {
    margin-left: 58.33333%; }
  .u1030-col-8 {
    width: 66.66667%; }
  .u1030-push-8 {
    margin-left: 66.66667%; }
  .u1030-col-9 {
    width: 75%; }
  .u1030-push-9 {
    margin-left: 75%; }
  .u1030-col-10 {
    width: 83.33333%; }
  .u1030-push-10 {
    margin-left: 83.33333%; }
  .u1030-col-11 {
    width: 91.66667%; }
  .u1030-push-11 {
    margin-left: 91.66667%; }
  .u1030-col-12 {
    width: 100%; }
  .u1030-push-12 {
    margin-left: 100%; } }
@media screen and (max-width: 768px) {
  .u768-col-1 {
    width: 8.33333%; }
  .u768-push-1 {
    margin-left: 8.33333%; }
  .u768-col-2 {
    width: 16.66667%; }
  .u768-push-2 {
    margin-left: 16.66667%; }
  .u768-col-3 {
    width: 25%; }
  .u768-push-3 {
    margin-left: 25%; }
  .u768-col-4 {
    width: 33.33333%; }
  .u768-push-4 {
    margin-left: 33.33333%; }
  .u768-col-5 {
    width: 41.66667%; }
  .u768-push-5 {
    margin-left: 41.66667%; }
  .u768-col-6 {
    width: 50%; }
  .u768-push-6 {
    margin-left: 50%; }
  .u768-col-7 {
    width: 58.33333%; }
  .u768-push-7 {
    margin-left: 58.33333%; }
  .u768-col-8 {
    width: 66.66667%; }
  .u768-push-8 {
    margin-left: 66.66667%; }
  .u768-col-9 {
    width: 75%; }
  .u768-push-9 {
    margin-left: 75%; }
  .u768-col-10 {
    width: 83.33333%; }
  .u768-push-10 {
    margin-left: 83.33333%; }
  .u768-col-11 {
    width: 91.66667%; }
  .u768-push-11 {
    margin-left: 91.66667%; }
  .u768-col-12 {
    width: 100%; }
  .u768-push-12 {
    margin-left: 100%; } }
@media screen and (max-width: 481px) {
  .u481-col-1 {
    width: 8.33333%; }
  .u481-push-1 {
    margin-left: 8.33333%; }
  .u481-col-2 {
    width: 16.66667%; }
  .u481-push-2 {
    margin-left: 16.66667%; }
  .u481-col-3 {
    width: 25%; }
  .u481-push-3 {
    margin-left: 25%; }
  .u481-col-4 {
    width: 33.33333%; }
  .u481-push-4 {
    margin-left: 33.33333%; }
  .u481-col-5 {
    width: 41.66667%; }
  .u481-push-5 {
    margin-left: 41.66667%; }
  .u481-col-6 {
    width: 50%; }
  .u481-push-6 {
    margin-left: 50%; }
  .u481-col-7 {
    width: 58.33333%; }
  .u481-push-7 {
    margin-left: 58.33333%; }
  .u481-col-8 {
    width: 66.66667%; }
  .u481-push-8 {
    margin-left: 66.66667%; }
  .u481-col-9 {
    width: 75%; }
  .u481-push-9 {
    margin-left: 75%; }
  .u481-col-10 {
    width: 83.33333%; }
  .u481-push-10 {
    margin-left: 83.33333%; }
  .u481-col-11 {
    width: 91.66667%; }
  .u481-push-11 {
    margin-left: 91.66667%; }
  .u481-col-12 {
    width: 100%; }
  .u481-push-12 {
    margin-left: 100%; } }
[class*="col-"].left {
  float: left; }
[class*="col-"].right {
  float: right; }
[class*="col-"].centered {
  float: none;
  margin: 0 auto; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; }

.btn {
  background: transparent;
  border: 1px solid #1271db;
  color: #1271db;
  display: inline-block;
  height: 44px;
  outline: none;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize; }
  .btn:hover, .btn:focus {
    background: #1271db;
    border-color: #1271db;
    color: #fff;
    text-decoration: none; }
  .btn:active {
    background: #0e59ac;
    border-color: #0e59ac; }

.btn-primary {
  background-color: #1271db;
  border-color: #1271db;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus {
    background: #1065c3;
    border-color: #1065c3;
    color: #fff; }
  .btn-primary:active {
    background: #0e59ac;
    border-color: #0e59ac;
    color: #fff; }

.btn-lg {
  font-size: 1.4em;
  height: 66px;
  padding: 0 60px; }

.btn-sm {
  font-size: .85em;
  height: 30.8px;
  padding: 0 10px; }

.btn-link {
  background: transparent;
  border: 0;
  color: #1271db;
  text-shadow: none;
  text-transform: none; }
  .btn-link:hover, .btn-link:focus {
    background: transparent;
    color: #1271db;
    text-decoration: underline; }

nav a {
  display: inline-block;
  padding: 10px 30px; }

*, *:before, *:after {
  box-sizing: border-box; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.valign {
  vertical-align: middle; }

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 40px 0; }

.subtle {
  color: #aaa; }

.relative {
  position: relative; }
