//**
// Homepage
//**





// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }


body.login {
	background:$ld-gray;
	min-height:720px;
	overflow: hidden;

	header {
		background:none;
		height:100%;

		.white-wrap {
			z-index: 100;
			position: absolute;
			top: 0;
			left: 70px;
			right: 70px;
		}

		.content {
			height:100%;
			display:flex;
			align-items: center;
			justify-content: center;
		}
	}
	

	.container {
		position:relative;
		z-index: 100;
		width:100%;
		height:100%;

		.col-6 {
		}
	}

	h1 {
		font-size:35px;
	}

	h1 + p {
		font-size:22px;
		color:#e1edf1;
	}

	label {
		display: block;
		font-weight:500;
	}
	input[type="text"],
	input[type="email"] {
		line-height: 49px;
		display:block;
		font-size:19px;
		border-radius:4px;
		outline:none;
		appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none;
		box-shadow:none;
		border:1px solid $d-gray;
		display: block;
		width:80%;
		border:1px solid #FFF;
		box-shadow:0 0 0 1px $d-gray;
		transition:all 0.25s ease-in-out;
		background: darken($white,10);
		color:$d-gray;
	}

	input[type="text"]:focus,
	input[type="email"]:focus {
		border:1px solid $aqua;
		box-shadow:0 0 0 1px $aqua;
		background:$white;
	}

	a.big-button {
		font-weight:500;
	}

}

html {
	min-width:0;
	overflow:scroll!important;
}

@media only screen and (max-width:500px) {

	body.login {
		min-width:0;
		height: auto;
	overflow: hidden!important;
	position: relative;

		nav {
			padding-bottom:13px;
			a.logo {
				margin:0 auto;
				display: block;
				margin-top:5px;
				float:none;
			}

			ul {
				display: block;
				text-align: center;
				float:none;
				width:100%;


				li {
					display: inline-block;
					float:none;
					width:48%;

					a {
						width:100%;
						text-align: center;
						max-width:115px;
						padding:0!important;
						margin:0!important;
					}
				}
			}
		}

		.container {
			height:auto;
			padding-bottom:0px;
		}
		header {
			height:auto!important;
			padding-bottom: 0px;
			padding-left:10px;
			padding-right:10px;

			h1 {
				padding-top:20px;
				font-size: 30px;
			}

			p {
				font-size:16px;
			}

			.white-wrap {
				margin:0;
				position:absolute;
				top:0;
				left:0!important;
				right:0!important;
			}

			.row.content {
				display:block!important;
			}

			.col-6:first-of-type {
				display:none;
			}

			.col-6 + .col-6 {
				padding-top:110px;
				width:100%;
				float:left;
			}
		}

		input[type="text"], 
		input[type="email"],
		a.sign-in {
			width:100%;
			line-height: 40px;
			font-size:16px;
		}

		a.sign-in {
			padding:0;
			display:block;
			line-height: 50px;
			height:50px;
		}

		.share-wrap {
			margin-top:50px;
			display:block;
			position: relative;
			bottom:0;
			left:0;
			right:0;
			transform:none;

			ul {
				list-style: none;
				overflow: hidden;
				display: block;
				margin: 0 auto;
				text-align: center;
				height: 35px;
				li {
					width:auto;
					display: inline-block;
					padding-bottom:0px!important;
					padding-right:5px!important;
					padding-left:5px!important;
				}
			}
		}
	}
}